@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Roboto:wght@400;500;700;800;900&display=swap');

body{
    font-family: "Roboto", sans-serif ;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 900;
}
ul{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 225, 255, 0.7), rgba(18, 16, 126, 0.7));
    z-index: -1;
}

.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 14px 22px;
    transition: all 0.3s ease;
}
.btn-main{
    background: linear-gradient(to right,#00e1ff, #12107e);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: white;
}

.btn-main:hover{
    color: white;
    transform: translateY(-5px) ;
}
.video-btn{
    width: 60px;
    height: 60px;
    background: linear-gradient(to right,#00e1ff, #12107e);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
}
.video-btn i{
    font-size: 34px;
}

.navbar{
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(#00e1ff, #12107e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-intro{
    margin-bottom: 40px;

}
.section-intro .divider{
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,#00e1ff, #12107e);
    margin: 16px auto;
}

.service .service-img{
    position: relative;
}

.service .service-img .icon{
    width: 90px;
    height: 90px;
    background: linear-gradient(to right,#00e1ff, #12107e);
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}
.service .service-img .icon i{
    font-size: 36px;
}

.feature i{
    background: -webkit-linear-gradient(#00e1ff, #12107e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
}
.feature i:hover{
    background: linear-gradient(to right,#ff0000, #12107e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* review */
.review{
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
}
.review .person{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.review .person img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.review .star{
    color: orange;
}
/* Blog */
.blog {
    padding: 10px 8px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}
.blog img{
   width: 100%;
   height: 250px;
}
.author .author-icon i{
    font-size: 26px;
}
.author .author-icon p {
    font-size: 14px;
    margin-top: 5px;
}
.author .date{
    margin-top: 5px;
    margin-left: auto;
    font-size: 12px;
}
.author .date small i{
    font-size: 12px;
}
.blog h3{
    font-weight: 400;
}












/* footer */

footer{
    background:linear-gradient(to right,#00e1ff, #12107e); 
    color: #fff;
}
.footer-content h2 a{
    color: #fff ;
}
.footer-content h2 a span{
    color:#12107e;
}
.footer-icons a i{
    color: #fff;
    font-size: 32px;
    transition: all 0.5s ease;
}
.footer-icons a i:hover{
    background: linear-gradient(to right,#ff0000, #12107e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-2px);
}

/* .useful-link h5{
    border-bottom: 2px solid black;
} */
.useful-link  ul{
    padding-left: 0;
}

.useful-link ul li a{
    color: #fff;
    font-weight: 400;
    
}

.contact-us p{
    text-align: left;
    font-size: small;
}

.subscript-us .btn-footer{

}
.subscript-us .btn-footer{
    background: linear-gradient(to right,#00e1ff, #12107e);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: white;
}

.footer-divider{
    height: 2px;
    width: 80%;
    background: linear-gradient(to left,#00e1ff, #12107e);
    margin: 0;
}


/* ==========Blog Page Css=========== */
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff !important;
}
.breadcrumb-item.active{
    color: #fff;

}
.blog-banner{
    background: url(../img/cover-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.bl_bg{
    background: linear-gradient(to right,#00e1ff, #12107e);
}
.blog_nav {
   margin-top: 50px;
}
.blog_nav nav ol li a{
   color: #fff;
}

.bdr{
    margin: 0;
    
   
}
.bdr header{

}

/* content */

.box{
    
    width: 100%;
    box-shadow:0 16px 24px  rgba(0,0,0,0.2);
    height: 340px;
    padding: 0;
}

.box img{
    width: 100%;
    height: 160px;
    
    
}
.author a img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    
}.author a{
    margin: 0;
}
.author a p{
    margin-top: 18px;
    padding-bottom: 0;
    margin-left: 4px;
    font-weight: 700;
    color: black;
}
.date{
    color: #959595;
    font-size: 10px;
    margin-top: 42px;
}
.box_txt h5 a{
    color: black;
}
.box_txt p{
    text-align: left;
    line-height: 1;
    font-size: 14px;
    padding-bottom: 10px;
}

/* Right Site */

.category_list{
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

.category_list ul{}

.category_list ul li{
    line-height: 1.8;
}

.category_list ul li a{
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}
.post_list{
    box-shadow: 0 12px 18px rgba(0,0,0,0.1);
}
.post_list .post{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}
.post_list img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.post_list .post .text{
    margin-top: 25px;
}

.tag_box{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.tag_header{}
.tag_list{
   padding: 20px;
}

/* Details */


.post_dtls{
    display: flex;
    color: #212529;
}
.post_dtls a{
    color: #212529;
    margin-right: 16px;
}
.post_dtls p{
    margin-top: 4px;
    margin-right: 20px;
    font-size: 12px;
}
}
.post_dtls .fa-solid{
    font-size: 10px;
}

/* Social Share */

.social .social_icons a i{
    background: -webkit-linear-gradient(#00e1ff, #12107e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.social .social-icons a i:hover{
    background: linear-gradient(to right,#ff0000, #12107e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Contact Page */

.contact_banner{
    background: url(../contact_page/img/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 225, 255, 0.7), rgba(18, 16, 126, 0.4));
    z-index: -1;
}

.address{
   
}
.address_box{
    padding: 10px;
}

.address_icon{
    margin-right: 10px;
    height: 4rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 100% ;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.5);
    
}
.address_icon i{
    font-size: 18px;
    text-align: center;
}
.address p{
    width: 100%;
    height: 50px;
    line-height: 1;
    margin-top: 22px;
}

.message_box .form-control{
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.5);
    background: transparent;
    border: none;
}
.message_box .form-control::placeholder{
    color: #fff;
}




























